* {
    margin: 0;
    padding: 0;
}
  
html,
body {
    height: 100%;
}

section {
    min-height: 100%;
}

main {
    overflow: auto;
    padding-bottom: 50px;
    /* must be same height as the footer */
}


footer {
    position: relative;
    margin-top: -50px;
    /* negative value of footer height */
    height: 50px;
    clear: both;
    background-color: white;
}

footer p {
    padding: 10px;
    text-align: center;
}