* {
    margin: 0;
    padding: 0;
}
  
html,
body {
    height: 100%;
}

section {
    min-height: 100%;
}

main {
    overflow: auto;
    padding-bottom: 50px;
    /* must be same height as the footer */
}


footer {
    position: relative;
    margin-top: -50px;
    /* negative value of footer height */
    height: 50px;
    clear: both;
    background-color: white;
}

footer p {
    padding: 10px;
    text-align: center;
}

.home-container {
    width: 100%;
}

.home-title {
    color: white;
    font-size: 60px;
}

.centered-bottom {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.learn-more-text {
    color: white;
    font-weight: bold;
    font-size: 20px;
    padding: 10px;
    background-color: darkblue;
    margin: auto;
    width: 40%;
    margin-top: 10px;
    text-align: center;
}

.learn-more-text:hover {
    background-color: red;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */  
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: darkblue;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: red;
}

/* Add a background color and some padding around the form */
.contact-form {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}